body {
    color: #171717;
    font-size: 14px;
}

input {
    border: 1px solid #CCCCCC;
    border-radius: 0px;
    padding: 10px;
}

.form {
    display: flex;
}

.form-input {
    padding: 10px;
    width: 33.33%;
}

/* DATEPICKER */

.ui-datepicker-prev, .ui-datepicker-next {
    font-size:  30px;
    position: absolute;
}
.ui-datepicker-prev {
    top: 5px;
}

.ui-datepicker-next {
    bottom: -5px;
}

.ui-datepicker-group:not(.ui-datepicker-group-first) thead {
    display: none;
}

.ui-datepicker-group.ui-datepicker-group-first {
    padding-top: 20px;
}

.ui-datepicker {
    width: fit-content !important;
    color: #171717;
}

.ui-datepicker td {
    padding: 2px;
    min-width: 25px;
    text-align: center;
}

.ui-datepicker td a {
    text-decoration: none;
    color: #171717;
}
.ui-datepicker-group {
    padding: 10px;
}

.ui-datepicker-unselectable.ui-state-disabled {
    background: #CCCCCC;
}
.ui-datepicker-unselectable.ui-state-disabled > * {
    display: none;
}
td.ui-datepicker-week-end {
    background: yellow;
}

.ui-datepicker td[class=" "], .ui-datepicker-current-day {
    background: #c2d892;
}

.ui-datepicker-today {
    background: #df8219;
}

.ui-datepicker-header {
    text-align: center;
    background: #e9f5cc;
    padding: 5px;
}
